
body {
  padding: 2em 1em 2em 70px;
  margin: 0;
  font-family: sans-serif;
  color: black;
  background: white;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

a:link img, a:visited img { border-style: none }  

dfn {
	font-weight:bold
}

table, th, td { 
 border: 1px solid black;
 font-family: sans-serif;
}

h1, h2 { text-align: left }
h1, h2 { color: #005A9C; background: white }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }

.hide { display: none }


@media screen {    
a[href]:hover { background: #ffa }
}

pre { margin-left: 2em }

dt, dd { margin-top: 0; margin-bottom: 0 }  
dt { font-weight: bold }

pre, code { font-family: monospace } 

code {
	color:#FF3300
} 

ul.toc, ol.toc {
  list-style: disc;		
  list-style: none;
}

@media aural {  
  h1, h2 { stress: 20; richness: 90 }
  .hide { speak: none }
  dt { pause-before: 20% }
  pre { speak-punctuation: code } 
}
