body {
  padding: 2em 1em 2em 3em;
  margin: 0;
  font-family: sans-serif;
}

h1, h2 { text-align: left }
h1, h2 { color: #005A9C;}
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }

.ingredients, .things-you-need, .ideas {
	background-color: #F1D4CF;
	padding: 2em;
	padding-top: 1.5em;
	box-shadow: 10px 10px 5px #888888;
	width: 500px;
}

.ingredient {
	color: #D43C24;
	font-weight: bold;
}

.hide {
  display: none
}

.shouting {
  color: #D43C24;
	font-weight: bold;
	font-size: 3em;
	font-variant:all-caps;
}
